# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
dist/
.tmp/
npm-debug.log
yarn-error.log

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configuración y dependencias
package-lock.json
yarn.lock

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables de entorno y credenciales
.env
*.env.local
*.env.development
*.env.production
*.env.test

# Archivos generados por Angular
.angular/cache/
.angular/config.json
